.rating {
    display: inline-block;
    &.rating__numerical-rating {
        display: inline-block;
        float: left;
        margin-left: 5px;
        color: #AFAFAF;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
    }
    &.rating__impressions {
        display: inline-block;
        font-weight: normal;
        color: #AFAFAF;
        & > div {
            padding-right: 14px;
        }
        &-wrapper {
            float: left;
            margin-top: 6px;
        }
        &.rating__impressions-name,
        &.rating__impressions-value {
            font-size: 12px;
            line-height: 20px;
        }
        &.rating__impressions-value {
            font-weight: bold;
        }
    }
}

@media screen and (min-width:0px) and (max-width:720px) {
    .rating {
        &.rating__impressions {
            text-align: start;
            &-wrapper {
                float: left;
                margin-top: 0px;
            }
        }
        &.rating__numerical-rating {
            font-size: 12px;
            line-height: 20px;
        }
    }
}