.reviews-table__see-more-button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-family: Open Sans;
    font-size: 11px;
    line-height: 20px;
    color: #FF6D00;
    margin-top: 4px;
    padding: 0;

    &_expand {
        &::before {
            content: 'Подробнее';
        }
    }

    &_collapse {
        &::before {
            content: 'Свернуть';
        }
        & > img {
            transform: rotateZ(180deg);
            padding-right: 5px;
            padding-left: 0px;
        };
    }
}

/* Mobile devices */
@media screen and (min-width:0px) and (max-width:720px) {
    .reviews-table__see-more-button {
        font-size: 14px;
        line-height: 22px;
        color: #FF6D00;
        &-arrow.reviews-table__see-more-button-arrow {
            padding-bottom: 1px;
        }
    }  
}