.reviews-table {
    &__item-row {
        padding-top: 10px;
        display: block;
        border-top: 1px solid #F2F2F2;
        padding-bottom: 8px;

        & > th {
            padding-left: 12px;
            padding-right: 10px;
            vertical-align: top;
            &:last-child {
                padding-right: 0px;
            }
        }

        &-addition {
            & > .reviews-table__item-row__cell-photo {
                width: 66px;
            }
            & > th {
                padding-bottom: 34px;
            }
        }

        &__cell {
            &-photo {
                width: 6.45%;
                & > img {
                    max-width: 41px;
                    padding-top: 4px;
                }
            }
            &-name {
                width: 19.35%;
            }
            &-review {
                width: 42.47%;
            }
            &-status {
                width: 13.87%;
            }
            &-actions {
                width: 17.84%;
            }

            & > th > * {
                padding: 0;
            }
        }
        &__item-name {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            text-align: start;
            display: table-cell;
            color: #383838;
        }

        &__publish-date {
            width: auto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #AFAFAF;
            padding-top: 4px;
        }
    }
}