.rating {
    &__wrapper {
        float: left;
        width: 100%;
    }
}

@media screen and (min-width:0px) and (max-width:720px) {
    .rating {
        &__wrapper {
            padding-top: 17px;
        }
    }
}