.reviews-table {
    &__header {
        border: 1px solid #F2F2F2;
        border-bottom: none;
        box-sizing: border-box;

        font-size: 13px;
        // line-height: 18px;
        color: #979797;
        display: block;

        & > tr {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding-left: 0px; 

            
        }
    }
}