@media screen and (min-width:721px) {
    .reviews-table {
        &__header {
            border: 1px solid #F2F2F2;
            border-bottom: none;
            box-sizing: border-box;

            font-size: 13px;
            color: #979797;
            display: block;

            & > tr {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                padding-left: 0px; 

                
            }
        }
    }
}

/* Mobile devices */
@media screen and (min-width:0px) and (max-width:720px) {
    .reviews-table {
        &__header {
            display: none;
        }
    }
}