.notice__text {
    width: 648px;
    height: 24px;

    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */

    color: #383838;
    
    mix-blend-mode: normal;
    opacity: 0.8;

    padding-left: 11px;
}