.reviews-table {
    &__buyer-photo-wrapper {
        border: 1px solid #EBEBEA;
        width: 68px;
        height: 68px;
        display: flex;
        margin-right: 8px;
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (min-width:0px) and (max-width:720px) {
    .reviews-table {
        &__buyer-photo-wrapper {
            float: left;
        }
    }
}