.action-button {
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #979797;

    border: 1px solid #979797;
    border-radius: 2px;
    background-color: white;

    padding-top: 8px;
    padding-bottom: 8px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background-color: #979797;
        color: white;
        transition: 0.2s;
    }
}