.reviews-table {
    &__buyer-photos {
        float: left;
        padding-top: 12px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:0px) and (max-width:720px) {
    .reviews-table {
        &__buyer-photos {
            display: block;
            // float: none;
        }
    }
}