.content {
    margin: 0 auto;
}

@media screen and (min-width:721px) {
    .content {
        width: 74%;
        min-width: 930px;
        max-width: 1375px;
        padding: 131px 0;
        display: flex;
        flex-direction: column;

        & > div {
            margin-bottom: 23px;
        }
    }
}

/* Mobile devices */
@media screen and (min-width:0px) and (max-width:720px) {
    .content {
        width: 87.5%;
        padding: 71px 0;
    }
}